@use "assets/styles/_variables" as vars;
@use "assets/styles/_functions" as *;

$height-item: rem(46);

.cat-of-product {
  position: relative;
  width: min-content;
  font-size: rem(14);
  letter-spacing: rem(-0.15);

  &__show-more:not(:checked)
    ~ &__list
    > li:not(:nth-of-type(-n + 4), :nth-last-of-type(1)) {
    display: none;
  }

  &__list > li:last-of-type a {
    color: red;
  }

  @media screen and (max-width: vars.$bp_xl) {
    :is(&, &__list) {
      display: flex;
      flex-direction: column;
    }
    &__show-more {
      appearance: none;
      order: 2;
      column-gap: 11px;

      &::after {
        content: url("assets/img/navbar/array.png");
        filter: invert(1);
      }
      &:not(:checked)::before {
        content: "ПОКАЗАТЬ ЕЩЁ";
      }
      &:checked:after {
        transform: rotate(180deg);
        margin-top: 7px;
      }
      &:checked::before {
        content: "СКРЫТЬ";
      }
    }

    :is(&__show-more, &__list > li) {
      display: flex;
      align-items: center;
      position: relative;
      height: $height-item;
      cursor: pointer;
    }
    &__list > li {
      // justify-content: space-between;
      & > a {
        width: 100%;
        height: 100%;
        align-content: center;
      }
      &:last-of-type {
        order: -1;
      }
    }
    &__list > li {
      border-bottom: 1px rgba(0, 0, 0, 0.08) solid;
    }
  }
}
