@use "assets/styles/_icons.scss" as *;
@use "assets/styles/_variables.scss" as main;

.up-menu {
  font-size: 12px;
  background: main.$nav-background;
  display: flex;
  justify-content: center;

  &__wrap {
    display: flex;
    width: 1360px;
    justify-content: space-between;
    align-items: center;
  }
  &__conditions-list {
    height: 50px;
  }
  & :where(.nav-location, &__conditions-list) {
    display: flex;
    column-gap: 26px;

    & > li {
      display: flex;
      align-items: center;
      color: #f2f2f2;
      column-gap: 12px;
    }
  }

  @media screen and (max-width: main.$bp_xxl) {
    & .nav-location {
      column-gap: 25px;
      &__text {
        display: none;
      }
    }
    & ul {
      column-gap: 20px;
    }

    @media screen and (max-width: main.$bp_xl) {
      & .nav-location {
        position: fixed;
        width: var(--drop-nav-width);
        padding: 23px 20px 28px 50px;
        flex-wrap: wrap;
        row-gap: 23px;
        & > li {
          color: #000;
          & i {
            filter: brightness(0) saturate(100%);
          }
        }
        & > li:first-of-type {
          width: 100%;
          column-gap: 15px;
        }
        & i.icon-local {
          position: absolute;
          right: calc(100% + 10px);
        }
      }

      &__conditions-list {
        display: none;
      }
    }
  }
}
