.modal-window__close {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.2225em;
  height: 2.2225em;
  background-color: #000;
  font-size: 18px;
  &::after {
    text-align: center;
    content: "✕";
    color: white;
    width: 1em;
    height: 1em;
    line-height: 1;
  }
  &::before {
    z-index: -1;

    position: absolute;
    content: "";
    background-color: red;
    width: 100vw;
    height: 100vh;
  }

  &.small {
  }
}
