.nav-location {
  display: flex;
  column-gap: 26px;
  font-size: 12px;
  height: min-content;

  & > li {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__btn {
    cursor: pointer;
    margin-left: clamp(0px, calc(0.35vw - 3.6px), 3px);
    display: flex;
    align-items: center;
    & > span {
      white-space: pre;
    }
    & > i {
      margin-left: clamp(0px, calc(0.8vw - 4px), 10px);
    }
  }
  &__name-city {
    margin-right: clamp(5px, calc(0.8vw - 4px), 10px);
  }
}
