@use "assets/styles/_functions" as *;
@use "assets/styles/variables" as main;

.middle-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  height: var(--middle-menu-height);
  &__wrap {
    background-color: #ffffff;
    height: inherit;
    letter-spacing: -0.28px;
    align-items: center;
    width: min(100%, 1360px);
    display: flex;
    justify-content: center;
    column-gap: 25px;
  }
  &__categories {
    display: flex;
    & > ul {
      margin: auto 0;
      column-gap: 25px;
      & > li {
        position: relative;
        &.active {
          &:after {
            position: absolute;
            bottom: -10px;
            left: 0;
            content: "";
            width: 100%;
            border-bottom: 2px solid main.$nav-background;
            animation: line 0.2s;
          }
        }
      }
    }
  }
  &__logo-link {
    margin: 0 auto;
    display: flex;
    align-items: center;
    z-index: 3;
  }
  &__logo {
    width: clamp(150px, 24vw, 242.5px);
  }
  &__user-options {
    display: flex;
    column-gap: 25px;
    justify-content: end;
  }
  :where(&__user-options > li, & .search-btn, & .nav-login-panel) {
    font-size: rem(8);
    text-transform: uppercase;
    letter-spacing: 0.259px;
    position: relative;

    & > a {
      margin-top: 8px;
      height: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: inherit;
    }
  }

  @media screen and (max-width: main.$bp_xl) {
    &__wrap > * {
      position: fixed;
    }

    :is(&__categories > ul, &__user-options) {
      column-gap: 20px;
    }

    &__categories {
      left: 0;
      width: 100%;
      background-color: #fff;
      height: inherit;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100%;
      z-index: 3;
      & > ul {
        padding-left: 20px;
        & > li {
          &.active {
            &::after {
              border-bottom: 4px black solid;
            }
          }
        }
      }
    }
    & .nav-login-panel {
      position: fixed;
      width: var(--drop-nav-width);
    }
    &__user-options {
      // right: 0;
      left: 0;
      transform: translateX(calc(100vw - 100% - rem(20) - var(--widthScroll)));
      z-index: 2;
    }

    & .search-btn {
      left: 0;
      transform: translateX(rem(60));
      z-index: 3;
      & a {
        margin-top: 16px;
      }
    }
  }
  @media screen and (max-width: main.$bp_md) {
    :where(&__user-options > li, & .search-btn) {
      font-size: 0;
    }
    &__logo-link {
      z-index: 2;
    }
  }
}
